#main-stats {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 5rem auto 0 auto;
    width: 50%;
}


.stats-item {
    background-color: #fefefe;
    border-radius: 5px;
    padding: 0.8rem;
    margin: 1rem;
    width: 100%;
}

#stats-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}


.click-items {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 720px) {
    #main-stats {
        width: 90%;
    }

    .click-items {
        flex-direction: column;
        align-items: flex-start;
    }
}