nav {
    background-color: #e9ecef;
    padding: 0.5rem;
    font-size: var(--text-size);
    border-bottom: 1px solid var(--black);
    top: 0;
}

nav > a {
    margin-left: 2rem;
}


#navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 2rem;
    float: right;
}


#navbar-list > li {
    display: inline-block;
    margin: 0 2rem 2rem 0;
}
